.brand-widget {
  text-align: center;
  padding: 30px;
}

.slick-next {
  right: -25px !important;
}
.brand-container{
    border: 3px solid #000000;
    margin-bottom: 40px;
    padding: 10px;
}

.arrow-icon-btn{
    border: none;
    padding: 10px;
    background: #000000;
    color: #ffffff;
}
