.background-section-machine {
  position: relative;
  width: 100%;
  height: 120vh;
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(11, 8, 8, 0.501)
    ),
    url("../../../assets/Images/MachineModels/Hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  margin-top: -60px;
}

.background-section-machine .content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  line-height: 1 !important;
}

.background-section-machine .content p {
  line-height: 1;
}

.line-one-machine {
  font-family: "Termina", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #ffff;
}

.line-three-machine {
  font-family: "Termina", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #ddfe34;
}

.para-machine {
  color: #ffff;
  margin-top: 120px;
  line-height: 2 !important;
  margin-top: 40px;
  font-family: "TT Commons", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.price-check-btn {
  width: 180px;
  color: #000000;
  background: #ddfe34;
  padding: 20px;
  margin-top: 25px;
  text-align: center;
  font-family: "TT Commons", sans-serif;
  font-size: 18px;
  font-weight: 600 !important;
}

.para-machine-container {
  padding-left: 0px !important;
}

@media (max-width: 767px) {
  .background-section-machine {
    background-position: top;
    height: 30vh;
    margin-top: 0px;
  }

  .line-one-machine {
    font-size: 15px;
  }

  .line-three-machine {
    font-size: 15px;
  }

  .para-machine {
    display: none;
  }

  .background-section-machine .content {
    position: absolute;
    top: 70% !important;
    transform: translate(0, -70%) !important;
    line-height: 1 !important;
  }

  .price-check-btn {
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .background-section-machine {
    background-position: top;
    height: 45vh;
    margin-top: 0px;
  }

  .para-machine {
    margin-top: 20px;
    font-size: 12px;
  }

  .line-one-machine {
    font-size: 20px;
    margin-top: 30px;
  }

  .line-three-machine {
    font-size: 20px;
  }

  .price-check-btn {
    margin-top: 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .background-section-machine {
    margin-top: -120px;
  }

  .line-one-machine {
    margin-top: 100px;
  }
}
